.imgDecore{
display: none;
}

  

@media screen and (min-width: 1200px) {
    .imgDecore{
        display: block;
        position: absolute;
        top: 0;
        right: 0%;
        z-index: -50;
    }
}